.App{
  min-height: 100vh;
  
  background-color: green;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
 
}

.bg1{
  background-image: url(./assets/images/space/img1.jpg);
}

.bg2{
  background-image: url(./assets/images/space/img2.jpg);
}

.bg3{
  background-image: url(./assets/images/space/img3.jpg);
}

.bg4{
  background-image: url(./assets/images/space/img4.jpg);
  background-size: cover;
}

.bg__fortune1{
  background-image: url(./assets/images/fortune/bg1.jpg);
}

.bg__fortune2{
  background-image: url(./assets/images/fortune/bg2.jpg);
}

.bg__fortune3{
  background-image: url(./assets/images/fortune/bg3.jpg);
}

.bg__fortune4{
  background-image: url(./assets/images/fortune/bg4.jpg);
}



/*Estilo seccion 1*/

.centro{
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 135, 98);
  opacity: 1;
  border-radius: 50%;
  box-shadow:  0 0 10px rgb(213, 213, 213), 0 0 10px rgb(244, 243, 243) , 0 0 10px rgb(245, 242, 242);
  
  
}   

.padre_space{
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.container_planet{
  width: 90%;
  aspect-ratio: 1/1;

}
.planet{
  animation: 40s change linear infinite;
  width: 100%;
}

.centro__background.space{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
}  

/*Se da estilo al titulo, la frase y el author*/
.titulo.space{
  width: 100%;
  text-align: center;
  font-family: 'Kaisei Opti', serif;
  font-size: 50px;
  color:rgb(231, 202, 60);
  text-shadow:  0 0 5px #ffffff  ;
}

.phrase.space { 
  width: 50%;
  text-align: center;
  color: rgb(209, 215, 217);
  font-family: 'Kaisei Opti', serif;
  font-size: 15px;
  text-shadow:  0 0 10px black, 0 0 10px black , 0 0 10px black;
  z-index: 300;
  position: absolute;
  max-width: 330px;
 
}

.author.space{
  font-family: 'Kaisei Opti', serif;
  font-size: 15px;
  padding: 20px;
  margin-top: -70px;
  color: antiquewhite;
  z-index: 200;
  text-shadow:  0 0 10px black, 0 0 10px black , 0 0 10px black;
} 

/*Se da estilo al boton*/


.buttom__space{
  height: 50px;
  padding: 16px 32px;
   background: linear-gradient(0deg, rgba(195, 34, 155, 0.75) 5%, rgba(45, 253, 239, 0.75) 100%); 
  color:#fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
  
 
}



@media (min-width: 520px) { 
  .phrase.space { 
    font-size: 25px;
  
  }
}

@keyframes change {
	0% {
		transform: rotate(0deg);
	}  
	100% {
		transform: rotate(360deg);
	}
}
 


/*Estilos galleta de la fortuna*/

.container_fortune{
  display: grid;
  justify-items: center;
  gap: 20px;
}


.centro.fortune{
  height: 200px;
  width: 200px; 
  margin-left: 10px;
  
}   

.centro__background.fortune{
  margin: auto;
  display: grid;
  width: 90%;
  max-width: 600px;
  height: 200px;
  background-color: #ffffff;
  justify-items: center;

}  

/*Se da estilo al titulo, la frase y el author*/

.titulo.fortune{
  width: 100%;
  text-align: center;
  font-family: 'Kaisei Opti', serif;
  font-size: 40px;
  color:rgb(187, 29, 116);
  text-shadow:  0 0 5px #ffffff ,  0 0 5px #ffffff ,  0 0 5px #ffffff  ;
  margin-top: 20px;
}

.phrase.fortune { 
  width: 80%;
  height: 90%;
  text-align: center;
  color: rgb(6, 6, 6);
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
 padding-top: 10px;
  text-shadow:  0 0 10px black;
  z-index: 200;
 
}

.author.fortune{
  font-family: 'Kaisei Opti', serif;
  font-size: 15px;
  color: rgb(21, 21, 20);
  z-index: 200;
  text-shadow:  0 0 10px black;
} 

/*Se da estilo al boton*/


.buttom__fortune{
  height: 50px;
   background: linear-gradient(0deg, rgba(73, 73, 223, 0.75) 5%, rgba(22, 96, 55, 0.75)100%); 
  color:#fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
}


@media (min-width: 720px) { 



  .titulo.space{

    font-size: 70px;

  }
  .buttom__space{
    height: 70px;   
    font-size: 40px;  
  }
  .author.space{
    font-size: 20px;
  } 

  button.cambio__tema{
    font-size: 20px;
  }


  .centro__background.fortune{
    height: 400px; 
  }  
  
  .phrase.fortune { 
    font-size: 35px;
  }

  .author.fortune{
        font-size: 25px;

  } 

  .text__title{
    font-size: 50px;
  }
  .label{
    font-size: 40px;
  }

}


@keyframes change {
	0% {
		transform: rotate(0deg);
	}  
	100% {
		transform: rotate(360deg);
	}
}
 
button.cambio__tema{
  
 
  height: 30px;
  border-radius: 0px;
  color: white;
  background: linear-gradient(0deg, rgba(216, 222, 173, 0.75) 5%, rgba(103, 98, 98, 0.75) 100%); 
  max-width: 400px;
  align-self: center;

}

.vidPrueba{
  z-index: 300;
}
.principalOff{
  visibility: hidden;
  position: absolute  ;
}

.principalOn{
  top: 0;
  position: absolute;
  z-index: 400;
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  padding-top: 20px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.label__container{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.label{
  font-size: 30px;
  text-shadow:  0 0 5px #050505;
  text-shadow:  0 0 5px #ffffff ,  0 0 5px #ffffff ,  0 0 5px #ffffff ,0 0 5px #ffffff  ;
  font-family: 'Courier New', Courier, monospace;
}

.label.hiddeOff{
  visibility: hidden;
}

.text__title{
  margin: auto;
  text-align: center;
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title__principal{
  max-width: 500px;
  width: 100%;
  display: grid;
  justify-items: center;
 }

.button__goSpace{
  max-width: 500px;
  width: 90%;
  aspect-ratio: 2/1;
  font-size: 50px;
   background-image: url(./assets/images/space.jpg);
   background-size: cover;
   background-position: center;


}
.button__goFortune{ 
  max-width: 500px;
  width: 90%;
  aspect-ratio: 2/1;
    font-size: 50px;
  background-image: url(./assets/images/fortune-cookie.jpg);
   background-size: cover;
   background-position: center;

}

.button__goSpace.hiddeOn {
  visibility:visible;
  
}
.button__goSpace:hover{
  opacity: .8;
  cursor: pointer;
}

.button__goSpace.hiddeOff {
  visibility:hidden;
  position: absolute;
}
.button__goFortune:hover{
  opacity: .8;
  cursor: pointer;
}

.button__goFortune.hiddeOn {
  visibility:visible;
}

.button__goFortune.hiddeOff {
  visibility:hidden;
  position: absolute;
}

.cambio__tema{
  position: relative;
  width: 200px;
  height: 50px;
  background: linear-gradient(0deg, rgba(141, 17, 17, 0.75) 5%, rgba(127, 24, 145, 0.75) 100%); 
  margin-left: 0;

}

.cambio__tema:hover{
  background: linear-gradient(0deg, rgba(114, 117, 94, 0.75) 5%, rgba(103, 88, 88, 0.75) 100%); 

  transition: .2s;
  color: black;
  cursor: pointer;

}

.buttom__fortune:hover{
  background: linear-gradient(0deg, rgba(119, 119, 198, 0.75) 5%, rgba(44, 176, 104, 0.75)100%); 
  transition: .2s;
  cursor: pointer;
}

   .buttom__space:hover{
    background: linear-gradient(0deg, rgba(220, 140, 200, 0.75) 5%, rgba(80, 207, 198, 0.75) 100%); 
    transition: .2s;
    cursor: pointer;
  }